<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles/styles.css" />
		<title>To Do List Application</title>
	</head>
	<body>
		<h1><%= date %></h1>
		<form method="post" action="/">
			<input type="text" placeholder="Enter To Do Here" name="todo" />
			<button type="submit">+</button>
		</form>
		<div class="list-container">
			<ul>
				<% if (locals.toDoList) { %> <% toDoList.forEach(element => { %>
				<div class="to-do-item">
					<input type="checkbox" />
					<li><%= element %></li>
				</div>
				<% }) %> <% } %>
			</ul>
		</div>
	</body>
</html>
